<!DOCTYPE HTML>

<head>
	<title> About Me </title>
{% load static %}
	<link href="{% static 'blog/static/style.css' %}" rel="stylesheet" title="Main style">
</head>

<body>
<header> THE BLOG
<nav>
	<a href="{% url 'blog:index' %}"> Home </a> |
	<a href="{% url 'blog:aboutme' %}"> About Me </a> |
	<a href="{% url 'blog:techtips' %}"> Tech Tips </a>|
        <a href="{% url 'blog:archive' %}"> Archive </a>
</nav>
</header>


<div class="flex-box">
<div class="main">
<article>
<h1> About Me</h1>
<img src="https://thumb1.shutterstock.com/display_pic_with_logo/101595/492562780/stock-photo-handsome-young-man-on-grey-background-looking-at-camera-portrait-of-laughing-young-man-with-hands-492562780.jpg" alt="Picture of a guy">

<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
</article>
</div>

<aside class="aside">
	<img src="https://thumb1.shutterstock.com/display_pic_with_logo/4571494/649452289/stock-photo-an-extreme-sportsman-jumps-on-a-rope-from-a-great-height-ropejumping-649452289.jpg" alt="Bungee jumping">
	<img src="https://thumb1.shutterstock.com/display_pic_with_logo/340054/145156063/stock-photo-a-picture-of-a-biker-making-a-stunt-and-jumps-in-the-air-145156063.jpg" alt="Dirt biking">
	<img src="{% static 'blog/static/dumb.jpg' %}" alt="Kite Boarding">

</aside>
</div>

<footer>
Ryan Ferguson--{{ time }}
</footer>


</body>
