<DOCTYPE! HTML>
<html>
<head>
{% load static %}
<link href="{% static 'blog/static/style.css' %}" rel="stylesheet">
<title>{{blog.title}}</title>

</head>
<body>
<header> THE BLOG
<nav>
	<a href="{% url 'blog:index' %}"> Home </a> |
	<a href="{% url 'blog:aboutme' %}"> About Me </a> |
	<a href="{% url 'blog:techtips' %}"> Tech Tips </a>|
        <a href="{% url 'blog:archive' %}"> Archive </a>
</nav>
</header>

<div class="flex-box">
<div class="main">
<main class="main">
<h2> {{blog.title}}</h2>
<p class="sub"> {{blog.author_name}} {{blog.pub_date}} </p>

<p> {{blog.content}}</p>
</br>
<h2> Comments </h2>
<form action="{%url 'blog:comment' blog.id %}" method="post" id=commentform">
{% csrf_token %}
<p> Nickname </p>
<input type="text" name="nickname" id="nickname">
<p> Email </p>
<input type="text" name="email" id="email">
<p> Comment </p>
<input type="text" name="content" id="content" size="85"></br>
<input type="submit" value="Submit">
</form>
<hr>

{% for comment in comments %}
<p class="nickname"> {{comment.nickname}}</p>
<p> {{comment.content}} </p>
<p class="sub">{{comment.email}}--{{comment.pub_date}} </p>
<hr>
</br>
{% endfor %}

</main>
</div>
<div class="aside">
<aside class="aside">
	<p> Here are the links to the other pages </p>
	<p><a href="{% url 'blog:aboutme' %}">About Me</a></p>
	<p><a href="{% url 'blog:techtips' %}">Tech Tips</a></p>
	
</aside>
</div>
</div>
<footer>
Ryan Ferguson--{{ time }}
</footer>


</body>
</html>
