<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>The Blog</title>
{% load static %}
	<link href="{% static 'blog/static/style.css' %}" rel="stylesheet" title="Main style">

</head>



<body>
<header> THE BLOG
<nav>
	<a href="{% url 'blog:index' %}"> Home </a> |
	<a href="{% url 'blog:aboutme' %}"> About Me </a> |
	<a href="{% url 'blog:techtips' %}"> Tech Tips </a> |
        <a href="{% url 'blog:archive' %}"> Archive </a>
</nav>
</header>
<div class="flex-box">
<div class="main">
<main class="main">
<h1> The Blog Main Page </h1>

<p>I used the mozilla css guide for most of this. The images were marked for reuse</p>
{% for blog in recent_blogs %}
<h2><a href="{% url 'blog:detail' blog.id %}">{{ blog.title }} </a> </h2>
<p class="sub"> {{ blog.author_name }} {{ blog.pub_date }} </p>
<p> {{ blog.content |truncatewords:200}} </p>
<p class="sub"> {{blog.comment_set.count}} comments </p>

{% endfor %}


</main>
</div>
<div class="aside">
<aside class="aside">
	<p> Here are the links to the other pages </p>
	<p><a href="{% url 'blog:aboutme' %}">About Me</a></p>
	<p><a href="{% url 'blog:techtips' %}">Tech Tips</a></p>
	
</aside>
</div>
</div>
<footer>
Ryan Ferguson--{{ time }}
</footer>

</body>
</html>



