<!DOCTYPE html>
<head>
	<title>Tech Tips</title>
{% load static %}
	<link href="{% static 'blog/static/style.css' %}" rel="stylesheet" title="Main style">

</head>



<body>
<header> THE BLOG
<nav>
	<a href="{% url 'blog:index' %}"> Home </a> |
	<a href="{% url 'blog:aboutme' %}"> About Me </a> |
	<a href="{% url 'blog:techtips' %}"> Tech Tips </a>|
        <a href="{% url 'blog:archive' %}"> Archive </a>
</nav>
</header>
<div  class="flex-box">
<main class="main">


<h1> Git Cheat Sheet </h1>
<p>I used the mozilla css guide for most of this. The images were marked for reuse</p>



<h2> Commit </h2>
<p>Use this command to commit (save) your changes:</p>
<p>
<code>git commit</code>
</p>

<h2>Log </h2>
<p> Use this command to view the history of commits with their messages: </p>
<p> <code> git log </code></p>

<h2>Add</h2>
<p> Use this command to tell git to track new documents. You can use --all to add all documents in the directory. </p>
<p><code>git add </code></p>

</main>

<aside class="aside">
<img src="{% static 'blog/static/nerd.png' %}" alt="Picture">
<img src="https://c1.staticflickr.com/4/3268/2909072284_cde1184f99_b.jpg" alt="Picture">
<img src="https://upload.wikimedia.org/wikipedia/commons/7/7f/William_Shatner_Star_Trek_first_episode_1966.JPG" alt="Picture">
</aside>

</div>
<footer>
Ryan Ferguson--{{ time }}
</footer>

</body>




