.sub {
	color:gray;
	font-size:14px;
    line-height: .5;
}

hr {
    color: black;
    border-color:black;
}

h2{
        font-weight:bold;
	font-size:x-large;
}

h1{
	background-image:url(https://upload.wikimedia.org/wikipedia/commons/8/87/Color_square_cm.gif);
	color:white;

	
}

body{
	background-color:brown;
}

main{
	padding: 15px;
}

code{
	background-color:gray;
}


/* all the flex stuff */
.flex-box {
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.aside{
	flex:.5;
}
.main{
	flex:10;
}

aside p{
	font-size: small;
	width: 150px;
}

aside {
	border: solid;
	width:150px;
	color: white;
	background-image: url("stars.jpg");
	padding: 10px;
	vertical-align: middle;
}


nav {
	background-color: black;
	color: white;
	text-align: center;
	padding: 10px;
	font-size: large;
}



nav a{
	color: white;
	align: center;
	font-size: large;
}

nav a:visited{
	color: yellow;
}
nav a:hover{
	color: lime;
}


header{
	font-size: 48px;
	background-color: black;
	color: white;
}


footer {
	background-color: black;
	color: white;
	padding: 5px;
}

aside img{
	max-width: 150px;
}


aside a{
	color: red;
}

a:hover{
	color: lime;
}


.nickname {
    color: black;
    font-weight: bold;
    line-height: 0.2;
}


